@import url(https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Roboto);

body {
  background: #222;
  font-family: Open Sans, serif;
}

#time {
  text-align: center;
  color: #16A8C7;
  font-family: 'Inconsolata',monospace;
  font-size: 6em;
  padding: 0px;
}

#timer {
  color: white;
}


#pomodoro {
  text-align: center;
}

#output {
  text-align: center;
  color: white;
  font-size: 20px;
}

#work {
  background: #9BF59F  ;
  border: 0px;
  font-size: 18px;
  padding: 10px;
  border-radius:6px;
}

#break {
  background: #CEF59B;
  border: 0px;
  font-size: 18px;
  padding: 10px;
  border-radius:6px;
}

h1 {
  font-family: Roboto,serif;
  text-align: center;
  color: white;

}

#notifs {
  color: white;
  text-align: left;
}
