@import url(https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Roboto);

body {
  background: white;
  font-family: Open Sans, serif;
}

#time {
  text-align: center;

  font-family: 'Inconsolata',monospace;
  font-size: 6em;
  padding: 0px;
}




#pomodoro {
  text-align: center;
}

#output {
  text-align: center;
  font-size: 20px;
}

/*#work {
  background: #9BF59F  ;
  border: 0px;
  font-size: 18px;
  padding: 10px;
  border-radius:6px;
}

#break {
  background: #CEF59B;
  border: 0px;
  font-size: 18px;
  padding: 10px;
  border-radius:6px;
}*/

h1 {
  text-align: center;
  
}

h3 {

  text-align: center;
}

li {
  /*display: inline-block;
  list-style: none;
  color: white;
  background: #333;
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder;*/
}
.links {
  font-size: 20px;
  text-align: center;

}

.fa {
  color: white;
  font-size: 50px;
}

.icons {
  position: absolute;
  right: 10px;
  top: 5px;

}
